<template name="platsDiversModal">
	
	<div class="modal fade" id="platsDiversModal" tabindex="-1" role="dialog" aria-labelledby="platsDiversModal" aria-hidden="true">

		<div class="modal-dialog">
			
			<form class="modal-content add-divers-plat">
				
				<div class="modal-header">
				
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				
					<h4 class="modal-title custom_align" id="Heading">Prix du plat</h4>

				</div>
				
				<div class="modal-body text-left">
					
					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Prix du plat</label>

						<!--<input class="form-control" name="price" type="text" placeholder="Prix plat"> -->
					
					</div>

				</div>
				
				<div class="marginTop marginBottom text-center">

					{{ > calculator}}

					
					<!-- <button type="submit" class="btn btn-success btn-lg platsDiversModal" style="width: 90%;"><span class="glyphicon glyphicon-ok-sign"></span> Ajouter </button>-->
				
				</div>

			
			</form>
			<!-- /.modal-content -->

		</div>
			<!-- /.modal-dialog -->
	</div>
	
</template>
