<template name="addPlatModal">
	
	<div class="modal fade" id="addPlat" tabindex="-1" role="dialog" aria-labelledby="addPlat" aria-hidden="true">

		<div class="modal-dialog">
			
			<form class="modal-content add-plat">
				
				<div class="modal-header">
				
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				
					<h4 class="modal-title custom_align" id="Heading">Ajouter un Plat</h4>

				</div>
				
				<div class="modal-body text-left">
						
					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">

							<label class="control-label">Nom du plat</label>

							<input class="form-control" id="addPlatNameInput" name="nom" type="text" placeholder="Nom du plat">
						
						</div>

						<div class="form-group col-md-6 col-sm-6">

							<label class="control-label">Prix du plat</label>

							<input class="form-control numeral-keyboard" name="prix" id="addPlatPrixInput" type="text" placeholder="Prix du plat">
						
						</div>

						<div class="col-md-12">
								
								<label class="control-label">Catégorie du plat</label>

								<div>									
									
									{{#each categoriesPlat}}

										<button class="btn btn-info btn-lg categorieChoice" data-value="{{_id}}">{{ CatPla_nom }}</button>
									
									{{/each}}

								</div>
								
							</div>

							

					</div>

				</div>
				
				<div class="modal-footer ">
					
					<button type="submit" class="btn btn-success btn-lg ajoutPlat" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Ajouter plat</button>
				
				</div>
					
			
			</form>
			<!-- /.modal-content -->
		</div>
			<!-- /.modal-dialog -->
	</div>
	
</template>
