<template name="deletePlatModal">

	<div class="modal fade" id="deletePlat" tabindex="-1" role="dialog" aria-labelledby="deletePlat" aria-hidden="true">

		<div class="modal-dialog">

			<div class="modal-content">

				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

					<h4 class="modal-title custom_align" id="Heading">Suppression {{plat.Pla_nom}} <small>{{plat.Pla_categorie.CatPla_nom}}</small></h4>

				</div>

				<div class="modal-body" data-platId = {{plat._id}}>

				<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Etes vous sûr de supprimer ce plat ?</div>

				</div>

				<div class="modal-footer ">
				
					<button type="button" class="btn btn-success deletePlatModalBtn" ><span class="glyphicon glyphicon-ok-sign"></span> Oui</button>
				
					<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Annuler</button>
				
				</div>
			
			</div>
		<!-- /.modal-content -->
		
		</div>
		
		<!-- /.modal-dialog -->

	</div>
   
</template>