<template name="editPlatModals">
	
	<div class="modal fade" id="editPlat" tabindex="-1" role="dialog" aria-labelledby="editPlat" aria-hidden="true">

	<div class="modal-dialog">
		
		<form class="modal-content edit-plat">
			
			<div class="modal-header">
			
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			
				<h4 class="modal-title custom_align" id="Heading">Modifier plat</h4>

			</div>
			
			<div class="modal-body text-left" data-platId = {{plat._id}}>
				
				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Prix d'plat</label>

					<input class="form-control" value="{{plat.Pla_prix}}" name="prix" type="text" placeholder="Prix d'plat">
				
				</div>

				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Date d'plat</label>

					<input class="form-control"  value="{{plat.Pla_datePlat}}" name="datePlat" type="text" placeholder="date d'plat">
				
				</div>

			</div>
			
			<div class="modal-footer ">
				
				<button type="submit" class="btn btn-warning btn-lg editPlat" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour </button>
			
			</div>
		
		</form>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

</template>
