.ajoutPlat{
	border-bottom: 1px #ddd solid;
	padding-bottom: 30px;
	margin: auto;
	width: 500px;

}

.delete-plat{
	margin: 15px 0px;
}
.categorie-btn{
	display: inline-block;
	margin: 10px 0px;
	width: 200px;
}
.plats-container{
	height: 100%;
}
.plat-btn{
	margin: 10px;
}