.platsModalContainer{
	margin: auto;
}
.commandeBloc.ajoutPlat
{
	height: 590px;
	overflow: auto;
}
.addPlatContainer label{
	margin: 5px;
	padding: 20px;
	font-size: 15px;
	text-align: center;
	word-wrap:normal;
	word-break: normal;
	text-transform: capitalize;	
}
.addPlatContainer label.choosen{
	background-color: blue;
}
.addPlatContainer input{
	display: none;
}