.totalBloc{
	padding-bottom: 10px;
}
.totalBloc .totalPrice{
	
	font-size: 60px;
	margin:5px 0px;	
}
.commandeBloc{
	height: 650px;
	overflow: auto;
}

.choiceButtonPlat{
	height: 50px;
	text-align: center;
	margin:3px;
	outline: none;
	text-transform: capitalize;
	outline: none;
}
.platsBloc{
	margin-bottom: 10px;
	border-top:1px #000 solid;
	padding-top: 10px;
	height:290px;
	overflow: auto;
}
.platsBloc button{
	height: 50px;
	margin: 6px 3px;
	font-size: 15px;
	text-transform:capitalize;
	outline: none;
}