.calculatorContainer{

	background-color: #fff;
	border-radius: 4px;
	letter-spacing: -0.31em;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;


}
.chiffreDiv{
	display: inline-block;
	letter-spacing: normal;
}

.chiffreTap{
display: inline-block;
width: 70px;
height:70px;
background-color: #ddd;
border:1px #fff solid;
margin: 0px;
color: #fff;
text-align: center;
font-size: 50px;
cursor: pointer;


}
.chiffreTap:hover{
	background-color: #333;

}