.peopleNumber,.tvaValue{
	width: 70px;
	height: 70px;
	margin: 10px;
}
.peopleNumber,.tvaValue{
	opacity: 0.4;
	outline: transparent !important;
}
.peopleNumber.active,.tvaValue.active{
	opacity: 1;
}
.printFactureBtn{
	margin-top: 20px;
	width: 250px;
	padding: 15px 5px;
}