*{
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body{
	overflow: hidden;
}
.background{
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.1;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.background img{
	
	width: 180px;
}
.title{
	width: 370px;
	margin:auto ;
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
	border:1px #e07682 solid;
	border-left: none;
	border-right: none;
	color: #aaa;
	text-transform: capitalize;
	padding: 5px 0px;
	color: #e07682;
}
.choiceButton{

	border:1px #000 solid;
	background-color: yellow;
	margin: 10px 0px;
}
.marginTop{
	margin-top: 20px;
}
.marginBottom{
	margin-bottom: 20px;
}
.marginLeft{
	margin-left: 20px;
}
.marginRight{
	margin-right: 20px;
}
.s-alert-info, .s-alert-success, .s-alert-warning, .s-alert-error{
	z-index: 99999999999999;
}

