
.paimentMethodsInput{
	margin: 10px auto;
	display: inline-block;
	vertical-align: middle;
	
	
}
.paimentMethodsInput label{
	display: inline-block;
	vertical-align: middle;
	padding: 20px 0px;
	width: 160px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px 5px;
	cursor: pointer;
	color: #fff;
	background-color: #888;
	opacity: 0.5;
}
.paimentMethodsInput label.active{
	opacity: 1;
	background-color: #c50015;
}
.paimentMethodsInput input{
	display: none;
}
.commandeBloc.paiementPage{
	height: 250px;
	overflow: auto;
}