/* Facture */
.facture-ticket{
	display: none;
}




@media print{
	.facture-ticket{
		display: block;
	}

	.tableContainer,.tablePresentation,.modal,.s-alert-box,.nav,.title,.paiementBloc,.calculatorContainer,.editerBloc,.background{
		display: none !important;
		opacity: 0;
		position: absolute;
		top: -10000px;
		left: -1000000px;
	}
}
.tableContainer{
	position: relative;
	height: 556px;
	width: 730px;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	transform: translate(-50%,0);
}

.tablePresentation{
	border:1px #000 solid;
	padding: 5px 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	opacity: 1;
	border:1px #eee solid;
	background-color: rgba(255,255,255,0.6);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.tablePresentation.toHide{
	bottom: -100px;
	opacity: 0;
	
}

.closeTableInfo{
	font-size: 40px;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #ddd;
	cursor: pointer;
}

.tablePresentation .nmbreCouverts{
	margin: 5px 5px;
	border-radius: 0px;
	outline: none;
	opacity: 0.4;
	width: 55px;
	height: 55px;
}

.tablePresentation .nmbreCouverts.actif{
	margin: 0px 5px;
	border-radius: 0px;
	outline: none;
	opacity: 1;
}

.tableInfo{
	position: absolute;
	width: 80px;
	height: 80Px;
	border-radius: 0px;
	margin: 10px;
	outline: none;
}