.facture-ticket{
	padding: 3px;
	width: 8cm;
	margin: auto;
	padding-bottom: 3cm;
	font-family: ;
}
.platsTable tr.first{
	padding: 3px 0px;
	border-left:0px #000 double;
	border-right:0px #000 double;
	border-style:double;
}
.paiementTva{
	border-top:10px double #999;
	width: 200px;
}
.paiementMethods{
	border-top: 1px #000 solid;
	margin-top: 20px;
	padding-top: 10px;
}