<head>
	<title>Dulcinéa</title>
	
</head>

<template name="layout">
  
  <div class="container-fluid">

    <div class="background">

      <img src="images/logo_dulcinea.png">

    </div>
    
  	{{> nav}}
  	
  	{{> yield}}
  	
  </div>

  {{> sAlert}}
  
  {{ >keyboard}}

</template>

