<template name="nav">

	<ul class="nav nav-pills marginBottom">
				
		<li role="presentation"><a href="{{pathFor 'tables'}}">Home</a></li>
		
		<li role="presentation"><a href="{{pathFor 'editerFacture'}}">Faire facture</a></li>
			      
		<li><a href="{{pathFor 'admin' }}">Gestion plats</a></li>

		<li class="app-closer pull-right"><a href="">Close</a></li>
		 
	</ul>

</template>