<template name="admin">
	
	<div class="row text-center ajoutPlat">

		<a class="btn btn-success btn-lg" data-target="#addPlat" data-toggle="modal" > Ajouter Plat</a>

	</div>

	<div class="row tex-left delete-plat">
	
		<h3 class="text-center">Supprimer plats</h3>
			
		<div class="col-md-6" style="border-right: 1px #ccc solid">
			
			<h4>Catégories <small>Cliquez sur une catégorie pour afficher ses plats</small></h4>
			
			<div class="categorie-container tex-left">
				
				{{#each categories }}

					<button class="btn btn-info btn-lg categorie-btn" id="{{_id}}">{{ CatPla_nom }}</button>
				
				{{/each}}

			</div>
		
		</div>
		
		<div class="col-md-6 plats-container">
			
			<h4>Plats <small>Cliquez sur un plat pour le supprimer</small></h4>
			
			{{#each plats}}
			
				<a class="btn btn-warning btn-lg plat-btn" id="{{_id}}" data-toggle="modal" data-target="#deletePlat">{{Pla_nom}}</a>
			
			{{/each}}
		
		</div>
	
	</div>
	
	<!--<div class="row">
		
		<div class="page-header">
		
			<h3>Catégorie Plat <small>édition des catégories de plat</small></h3>

			<div class="marginBottom">
			
			{{#each categories}}

				<button class="btn btn-warning" id="{{_id}}">{{CatPla_nom}}</button>
			
			{{/each}}

		</div>
		
			<a class="btn btn-success"> Ajouter Catégorie</a>

		
		</div>

	</div>	

	<div class="row">
		
		<div class="page-header">
		
			<h3>Tables <small>édition des tables</small></h3>

			<div class="marginBottom">
			
			{{#each tables}}

				<button class="btn btn-warning marginLeft" id="{{_id}}">{{Tab_name}}</button>
			
			{{/each}}

		</div>
			
			<a class="btn btn-success"> Ajouter Table</a>

		
		</div>

	</div>	-->

	{{> addPlatModal}}
	
	{{> deletePlatModal}}
	
	{{> editPlatModal}}
</template>