<template name="ajoutPlat">
			
	<div class="row marginTop">

		<div class="col-md-6">
			
			<div class="commandeBloc ajoutPlat"> <!-- Résumé de la commande -->
				
				<h3>Commande : </h3>
				
				<h5 class="text-info">Table : #4</h5>
				
				<h5 class="text-info">Nombre Couvert : 4</h5>

				<table class="table">
					
					<tr>
											
						<th>Nom</th>
						
						<th>Qte</th>
						
						<th>Prix Unitaire</th>
						
						<th>Total</th>
					
					</tr>

					<tbody>
						
						{{#each listePlat}}

							{{> onePlat}}

						{{/each}}
					</tbody>
				
				</table>

			</div>

		</div>

		<div class="col-md-6">

			<div>
				
				<div class="marginTop text-left"> <!-- Bouton de choix de plats -->
					
					{{#each categoriesPlat}}

						<button class="btn btn-lg btn-default choiceButtonPlat" data-categorieId="{{_id}}"> {{CatPla_nom}}</button>
					
					{{/each}}

				</div>

				<div class="marginTop text-left platsBloc addPlatContainer">
					
					{{#each listePlatFromCategorie}}

						{{#if isDivers}}
						
							<a href="#" class="btn btn-lg btn-info diversClass" data-target="#platsDiversModal" data-toggle="modal" data-categorieId="{{_id}}">{{ nomPlat }}</a>
					
						{{else}}
							
							<button class="btn btn-lg btn-info {{typePlat}}" data-categorieId="{{_id}}" data-platId="{{_id}}">{{ nomPlat }}</button>

						{{/if}}

						
					
					{{/each}}
				
				</div> <!-- Liste des plats par rapport à la catégorie -->
			
			</div>

		</div>
	
	</div>

	<div class="row marginBottom text-center">
		
		<div class="marginTop text-center">
			
			<button class="btn btn-success btn-lg addPlatButton">Ajouter Plats</button>
						
		</div>				
	
	</div>
	
	{{ > platsDiversModal }}
		
</template>