<template name="caisse">
		
	<div class="col-md-6">
		
		<div class="commandeBloc"> <!-- Résumé de la commande -->
			
			<h3>Commande : </h3>
			
			<h5>Nombre de couverts : {{nombreCouverts}}</h5>
			
			<h5>Table : {{nomTable}}</h5>

			<table class="table">
				
				<tr>
										
					<th>Nom</th>
					
					<th>Qte</th>
					
					<th>Prix Unitaire</th>
					
					<th>Total</th>
				
				</tr>

				<tbody>
					
					{{#each listePlat}}

						{{> onePlat}}

					{{/each}}
				</tbody>
			
			</table>

		</div>

	</div>

	<div class="col-md-6">
		
		<div class="text-right totalBloc"> <!-- Totale de la commande -->
			
			<div>
				
				<strong style="font-size: 18px">Total HT {{prixHT}} €</strong>

			</div>

			<div>
				
				<h1 class="totalPrice">{{prixCommande}} €</h1>
			
			</div>
			
			<div>
	
				<div class="pull-left">
	
					<strong>Nombre d'article : {{nombreArticle}}</strong>
				
				</div>
				
				Le {{date}}
			
			</div>
		
		</div>	

		<div>
			
			<div class="marginTop text-left"> <!-- Bouton de choix de plats -->
				
				{{#each categoriesPlat}}

					<button class="btn btn-lg btn-default choiceButtonPlat" data-categorieId="{{_id}}"> {{CatPla_nom}}</button>
				
				{{/each}}

			</div>

			<div class="marginTop text-left platsBloc">
				
				{{#each listePlatFromCategorie}}
					
					{{#if isDivers}}
						
						<a href="#" class="btn btn-lg btn-info diversClass" data-target="#platsDiversModal" data-toggle="modal" data-categorieId="{{_id}}">{{ nomPlat }}</a>
					
					{{else}}
						
						<button class="btn btn-lg btn-info {{typePlat}}" data-categorieId="{{_id}}" data-platId="{{_id}}">{{ nomPlat }}</button>

					{{/if}}
				
				{{/each}}
			
			</div> <!-- Liste des plats par rapport à la catégorie -->
		
		</div>

	</div>
	
	<button class="btn btn-success btn-lg validateButton">Enregistrer Commande</button>

	{{ > platsDiversModal}}
		 <!-- Dictionnaire de plat -->
</template>