<template name="calculator">
	
	<div class="text-center">
		
		<div class="form-group">
						
			<input type="text" name="calculatorInput" id="calculatorInput" value={{calculatorTotal}} class="form-control none-keyboard">
		
		</div>
		
		<div class="row marginTop">
		
			<div class="chiffreDiv"> <span data-value="7" class="chiffreTap">7</span></div>	
		
			<div class="chiffreDiv"> <span data-value="8" class="chiffreTap">8</span></div>	
		
			<div class="chiffreDiv"> <span data-value="9" class="chiffreTap">9</span></div>	
		
		</div>

		<div class="row">
		
			<div class="chiffreDiv"> <span data-value="4" class="chiffreTap">4</span></div>	
		
			<div class="chiffreDiv"> <span data-value="5" class="chiffreTap">5</span></div>	
		
			<div class="chiffreDiv"> <span data-value="6" class="chiffreTap">6</span></div>	
		
		</div>

		<div class="row">
		
			<div class="chiffreDiv"> <span data-value="1" class="chiffreTap">1</span></div>	
		
			<div class="chiffreDiv"> <span data-value="2" class="chiffreTap">2</span></div>	
		
			<div class="chiffreDiv"> <span data-value="3" class="chiffreTap">3</span></div>	
		
		</div>

		<div class="row">
		
			<div class="chiffreDiv"> <span data-value="C" class="chiffreTap">C</span></div>	
		
			<div class="chiffreDiv"> <span data-value="0" class="chiffreTap">0</span></div>	
		
			<div class="chiffreDiv"> <span data-value="." class="chiffreTap {{hasFloat}}">.</span></div>	
		
		</div>

		<div class="row text-center marginTop">
			
			<button class="btn btn-success btn-lg payMethod">Ajouter</button>
		
		</div>
	
	</div>

</template>