<template name="editerFacture">
	
	{{ > facture}}
	
	<div class="row text-left editerBloc">

		<h2 class="title"> Editer Facture</h2>
		
		<div class="col-md-12">
			
			<!-- Prix de la facture -->

			<div class="factureSetter">
				
				<h3>Prix : </h3>
				
				<div class="form-group">
					
					<input type="text" name="facturePrice" id="facturePriceInput" class="numeral-keyboard form-control">
				
				
				</div>
			
			</div>

			<!-- Nombre de couverts -->
			
			<div class="nombreCouvert">

				<h3>Nombre couvert : </h3>

					<div class="marginTop text-left">
					
						{{#each peopleButtons}}
							
							<button class="btn btn-info btn-lg peopleNumber" data-value="{{num}}">{{num}}</button>

						{{/each}}
					
					</div>					
			</div>

			<!-- TVA de la facture -->

			<div>

				<h3>TVA : </h3>
				
				<div class="tvaFacture">
										
					<button class="btn btn-info btn-lg marginRight tvaValue active" data-value="10">10%</button>
					
					<button class="btn btn-info btn-lg marginLeft tvaValue" data-value="20">20%</button>

				
				</div>				

				<!--<input class="form-control" name="price" type="text" placeholder="Prix plat"> -->
			
			</div>
			
			<div class="text-center">
				
				<button class="btn btn-success btn-lg printFactureBtn"> Faire Facture</button>
								
			</div>

		</div>

	</div>
	
</template>
