<template name="facture">
	
	<div class="facture-ticket text-center">
		
		<h2>Restaurant Dulcinéa</h2>
		
		<p style="font-size: 18px;">41 rue Pierre Fontaine<br> 75009 Paris<br>TEL : 01 48 74 56 26</p>
		
		<p style="font-size: 18px;">{{dateTicket}}</p>

		<div class="row">
			
			
				
				<div class="col-xs-6 text-left">
				
					{{#if notEdited}}
				
						<h5>TABLE {{nomTable}}</h5>
					
					{{/if}}

				</div>
			
			
			
			<div class="col-xs-6 text-right">
			
				<h5>{{nombreCouverts}} {{typeCouvert}}</h5>
			
			</div>
		
		</div>
		
		{{#if notEdited}}

			<table class="table text-left platsTable">
			
				<tr class="first">
			
					<th>Qte</th>
			
					<th>Designation</th>
			
					<th>P.U</th>
			
					<th>Total</th>
			
				</tr>

				{{#each commande.Com_plats}}
				
					<tr>
				
						<td>{{Pla_quantity}}</td>
				
						<td style="text-transform: uppercase;">{{Pla_nom}}</td>
				
						<td>{{prixFormated}}</td>
				
						<td>{{total}}</td>
				
					</tr>	
				
				{{/each}}

			</table>

		{{/if}}
			

		<div class="row text-right paiementTva">
			
				{{#each infosPaiements}}
					
					<div class="row">
					
						<div class="col-xs-offset-2 col-xs-6 text-left"> {{nom}}</div>
					
						<div class="col-xs-4"> {{value}}</div>
					
					</div>
				
				{{/each}}

			{{#if discount}}
				
				<div class="row">
					
					<div class="col-xs-offset-2 col-xs-6 text-left"> Réduc -{{discount.taux}}%</div>
					
					<div class="col-xs-4"> {{discount.price}}€</div>
					
				</div>
			
			{{/if}}
			<div class="row">
					
				<div class="col-xs-offset-2 col-xs-6 text-left"><strong>Prix Final</strong></div>
					
				<div class="col-xs-4"> <strong>{{prixFinal}}€</strong></div>
					
			</div>

		</div>

		<div class="text-right paiementMethods">
			
			<table class="table">
			
			{{#each paiementMethods}}
			
				<tr>
					<td>1</td>
					
					<td style="text-transform: uppercase;">{{Fac_method}}</td>
					
					<td>{{Fac_montant}}€</td>
				
				</tr>
				
			
			{{/each}}

			</table>
			
		</div>

		<p>SERVI PAR DINO</p>
		
		<p>COUVERT MOYEN : {{couvertMoyen }}€ <br>N SIRET : 792 640 880</p>
		
		<p>MERCI DE VOTRE VISITE<br>A BIENTOT</p><br><br><br><br>-

	</div>

</template>