<template name="home">
	
	<div class="row text-center marginTop">
		
		<img src="images/logo_dulcinea.png">

		<div class="row">
			
			<a href="{{pathFor 'tables'}}" class="btn btn-lg btn-info bloc-link"> Tables </a>
			
			<!--<a href="{{ pathFor 'recap' }}" class="btn btn-lg btn-info bloc-link"> Commandes </a> -->

		</div>
		
	</div>

</template>