<template name="onePlat">
	
	{{#if notPresent}}
	
		<tr class="platDeleter" data-platId = "{{_id}}">
		
			<td>{{Pla_nom}}</td>
			
			<td>{{Pla_quantity}}</td>
			
			<td>{{prixU}} €</td>
			
			<th>{{Pla_total	}} €</th>

		</tr>

	{{/if}}
	
</template>