<template name="paiement">
	
	{{ > facture}}

	<div class="col-md-9 paiementBloc">
					
			<div class="text-right totalBloc"> <!-- Totale de la commande -->
				
				<div>
					
					<strong style="font-size: 20px">Total HT {{prixHT}} €</strong>

				</div>

				<div>
					
					<h1 class="totalPrice">{{prixCommande}} €</h1>
				
				</div>
				
				<div>
		
					<div class="pull-left">
		
						<strong>Nombre d'article : {{nombreArticle}}</strong>
					
					</div>

					{{#if discountObject}}

						<div class="">
							
							<p class="text-danger"> Réduction -{{discountObject.taux}}% ({{discountObjectPrice}}€)</p>
						
						</div>
					
					{{/if}}
						
					
					Le {{date}}
				
				</div>
			
			</div>	

			<div class="commandeBloc paiementPage"> <!-- Résumé de la commande -->
				
				<h3>Commande : </h3>

				<table class="table">
					
					<tr>
											
						<th>Nom</th>
						
						<th>Qte</th>
						
						<th>Prix Unitaire</th>
						
						<th>Total</th>
					
					</tr>

					<tbody>
						
						{{#each listePlat}}

							{{> onePlat}}

						{{/each}}
					</tbody>
				
				</table>

			</div>

			<div class="paimementMethod marginTop">						

				<div class="paimementGroup">
					
					<h3 class="text-center">Méthode de Paimement </h3>

					<div class="marginTop text-center">
						
						{{#if gottaPay}}
							
							{{#each paimentMethods}}
							
								<div class="form-group paimentMethodsInput">
									
									<label class="paimentMethodsLabel" for="{{nom}}">{{nom}}</label>
									
									<input type="radio" name="paimentMethods" value="{{value}}" id="{{nom}}">
									
								</div>

							{{/each}}

							<div class="form-group hidden montantToPay">
								
								<label class="control-label">Montant </label>

								<input type="text" class="form-control" name="montant">
							
								<button class="text-center marginTop btn btn-success btn-lg payMethod">Payer</button>

							</div>
						
						{{/if}}	

					</div>
				
				</div>						
			
			</div>

			<div class="marginTop text-center">
			
			{{#if laFourchetteButton}}
				
				<button class="btn btn-success btn-lg lafourchetteButton">La Fourchette</button>
			
			{{/if}}
			
			</div>

			<div class="marginTop text-center">
				
				<h4>Couvert moyen {{ couvertMoyen }}€</h4>
				
				{{#if gottaPay}}
					
					 <h1>Reste à payer :<span class="text-danger"> {{toPaid}} €</span></h1>
					
				{{else}}
					
					<h1>Montant à rendre : <span class="text-success">{{toPaid}} €</span></h1>
					
				{{/if}}

				
			</div>

			{{#if allIsPaid }}
			
				<div class="marginTop text-center">
					
					<button class="btn btn-success btn-lg validateCommade">Finaliser</button>
										
				</div>				
			
			{{/if}}


	</div>

	<div class="col-md-3 calculatorContainer priceSetter hidden" >
		
		{{> calculator}}
			
	</div>

		
</template>