<template name="recap">

	<h2 class="title">Récapitulatif Commande</h2>

	<table class="table table-striped">
		
		<tr>
			<th>Date</th>
			<th>Table</th>
			<th>Nbr Couverts</th>
			<th>Prix</th>
		</tr>
		
		<tbody>
			
	
			{{#each commandes}}
				
				<tr>
				
					<td>{{Com_date}}</td>
				
					<td>{{Com_table.Tab_name}}</td>
				
					<td>{{Com_nombreCouverts}}</td>
				
					<td>{{Com_prix}}</td>
				
				</tr>
			
			{{/each}}

		</tbody>

		
	</table>
	
</template>