<template name="tables">

	<div class="row">
		
		<div>
			
			<h2 class="title">Plan de tables</h2>

			<div class="tableContainer">
			
				{{#each tables}}

					<button style="top: {{y}}px;left :{{x}}px" class="btn btn-lg btn-{{colorClass}} tableInfo" data-tableId="{{_id}}">
						
						{{ Tab_name }}
					
					</button>

				{{/each}}
				
			</div>	

			<div class="tablePresentation toHide">
				
				<span class="closeTableInfo glyphicon glyphicon-remove" aria-hidden="true"></span>
				
				<div class="row text-left">
			
					<h3>Table {{actualTable.Tab_name}} </h3>
					
					{{#if nonDisponible}}
							
						<h5 class="text-danger">Occupée</h5>

						<h5> Nombre couverts : {{ nombreCouvert}}</h5>
						
						<h5>Total  : {{ totalCommande }} €</h5>

					{{else}}

						<h5 class="text-success">Disponible</h5>
						
						<h5 class="text-info">Nombre de Couverts : </h5>
						
						<div class="marginTop text-left">
							
							{{#each buttons}}
								
								<button class="btn btn-info btn-lg nmbreCouverts" data-value="{{num}}">{{num}}</button>

							{{/each}}
						
						
						</div>



					{{/if}}
				
				</div>

				{{#if nonDisponible}}
					
					<div class="row marginBottom marginTop">
						
						<a href = "{{pathFor 'ajoutPlat'}}" class="btn btn-lg btn-info addPlatsLink">Ajouter Plat</a>

						<a href = "{{pathFor 'paiement'}}" class="btn btn-lg btn-info payCommande">Régler commande</a>
						
						<button class="btn btn-lg btn-danger cancelCommande">Annuler commande</button>
					</div>
				
				{{else}}
					
					<div class="row">
						
						<a href="{{pathFor 'caisse'}}" class="btn btn-success btn-lg hidden caisseModalButton" > Ajouter une commande</a>

					</div>
				
				{{/if}}
					
				
			</div>
		
		</div>
	
	</div>
		
</template>