<template name="editClientModal">
	
	<div class="modal fade" id="editClient" tabindex="-1" role="dialog" aria-labelledby="editClient" aria-hidden="true">

	<div class="modal-dialog">
		
		<form class="modal-content edit-client">
			
			<div class="modal-header">
			
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			
				<h4 class="modal-title custom_align" id="Heading">Editer client</h4>

			</div>
			
			<div class="modal-body text-left" data-clientId = {{client._id}}>
				
				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Nom</label>

					<input class="form-control" value="{{client.Cli_nom}}" name="nom" type="text" placeholder="Nom">
				
				</div>
				
				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Prenom</label>

					<input class="form-control" value="{{client.Cli_prenom}}" name="prenom" type="text" placeholder="Prenom">
				
				</div>

				<div class="form-group">

					<label class=" control-label">date de naissance</label>

					<input class="form-control" id="editDateNaissance" value="{{dateNaissance}}" name="dateNaissance" type="date" placeholder="Date de Naissance">
				
				</div>

				<div class="form-group">
					
					<label class="control-label">Sexe</label>

					<div class="radio">
					
					  <label>
					
					    <input type="radio" name="sexe" id="optionsRadios1" value="m" {{homme}}>
						
						Homme

					  </label>
					
					</div>
					
					<div class="radio">
					
					  <label>

					    <input type="radio" name="sexe" value="f"  {{femme}}>
					
						Femme					
					  </label>
					
					</div>
				
				</div>

				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Telephone</label>

					<input class="form-control" value="{{client.Cli_telephone}}" name="telephone" type="text" placeholder="Telephone">
				
				</div>

				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Email</label>

					<input class="form-control"  value="{{client.Cli_email}}" name="email" type="email" placeholder="Email">
				
				</div>

				<div class="form-group ">

					<label class=" control-label">Adresse</label>

					<input class="form-control editAdresseInput" data-geo="name"  value="{{client.Cli_adresse}}" name="adresse" type="text" placeholder="Adresse">
				
				</div>

				<div class="form-group  col-md-6 col-sm-6">

					<label class=" control-label">Ville</label>

					<input class="form-control" data-geo="locality"  value="{{client.Cli_ville}}" name="ville" type="text" placeholder="Ville">
				
				</div>

				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Code Postal</label>

					<input class="form-control" data-geo="postal_code"  value="{{client.Cli_codePostal}}" name="codePostal" type="text" placeholder="Code Postal">
				
				</div>

				<div class="checkbox col-md-6 col-sm-6">
				
				  <label>
				   
				    <input type="checkbox" name="newsletter" {{newsletter}}>
				
				    Newsletter
				
				  </label>
				
				</div>

				<div class="checkbox col-md-6 col-sm-6">
				 
				  <label>

				    <input type="checkbox" name="sms" {{sms}}>

				    Sms

				  </label>

				</div>
			
			</div>
			
			<div class="modal-footer ">
				
				<button type="submit" class="btn btn-warning btn-lg editClient" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour </button>
			
			</div>
		
		</form>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

</template>
