
.keyboardContainer {
    margin: 100px auto;
    margin-bottom: 0px;
    width: 100%;
    z-index: 9999999999999999999999999;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    text-align: center;
}

#lettersKeyboard {
    margin: 100px auto;
    margin-bottom: 0px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #eee;
    text-align: center;
}

#numeralKeyboard{
    float: right;
    display: inline-block;
    width: auto;
    position: fixed;
    bottom: 0px;
   left: 0px;
    background-color: rgba(220,220,220,0.8);
    padding: 20px;
}

.keyboard {
margin: 0 auto;
padding: 5px;
list-style: none;
}
    .keyboard li {
    display: inline-block;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 20px;
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #lettersKeyboard .keyboard .tab,#lettersKeyboard .keyboard .delete {
            width: 80px;
            }

            .keyboard .capslock {
            width: 91px;
            }

            #lettersKeyboard .keyboard .return {
            width: 77px;
            }
            .keyboard .left-shift {
            width: 95px;
            }
            .keyboard .right-shift {
            width: 109px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        .keyboard .space {
        clear: left;
        width: 681px;
        }
        .on {
        display: none;
        }
        .keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
        }

/* Custom keys */

.keyboard li.return{
    background-color: #5cb85c;
}
.keyboard li.closeKeyboard{

    background-color: #d9534f;
}
.keyboard li.none{
    color: transparent;
}