<template name="keyboard">

	 
	<div id="lettersKeyboard" class="keyboardContainer hidden">
		    
	    <ul class="keyboard">
	        
	        <li class="closeKeyboard">close</li>
	        <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
	        <li class="symbol"><span class="off">2</span><span class="on">@</span></li>
	        <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
	        <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
	        <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
	        <li class="symbol"><span class="off">6</span><span class="on">^</span></li>
	        <li class="symbol"><span class="off">7</span><span class="on">&amp;</span></li>
	        <li class="symbol"><span class="off">8</span><span class="on">*</span></li>
	        <li class="symbol"><span class="off">9</span><span class="on">(</span></li>
	        <li class="symbol"><span class="off">0</span><span class="on">)</span></li>
	        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
	        <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
	        <li class="delete lastitem">Effacer</li>
	        <li class="tab">tab</li>
	        <li class="letter">a</li>
	        <li class="letter">z</li>
	        <li class="letter">e</li>
	        <li class="letter">r</li>
	        <li class="letter">t</li>
	        <li class="letter">y</li>
	        <li class="letter">u</li>
	        <li class="letter">i</li>
	        <li class="letter">o</li>
	        <li class="letter">p</li>
	        <li class="symbol"><span class="off">[</span><span class="on">{</span></li>
	        <li class="symbol"><span class="off">]</span><span class="on">}</span></li>
	        <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
	        <li class="capslock">Maj Verr</li>
	        <li class="letter">q</li>
	        <li class="letter">s</li>
	        <li class="letter">d</li>
	        <li class="letter">f</li>
	        <li class="letter">g</li>
	        <li class="letter">h</li>
	        <li class="letter">j</li>
	        <li class="letter">k</li>
	        <li class="letter">l</li>
	        <li class="letter">m</li>
	        <li class="symbol"><span class="off">'</span><span class="on">&quot;</span></li>
	        <li class="return lastitem">Ok</li>
	        <li class="left-shift">Maj</li>
	        <li class="letter">w</li>
	        <li class="letter">x</li>
	        <li class="letter">c</li>
	        <li class="letter">v</li>
	        <li class="letter">b</li>
	        <li class="letter">n</li>
	        <li class="symbol"><span class="off">;</span><span class="on">:</span></li>
	        <li class="symbol"><span class="off">,</span><span class="on">&lt;</span></li>
	        <li class="symbol"><span class="off">.</span><span class="on">&gt;</span></li>
	        <li class="symbol"><span class="off">/</span><span class="on">?</span></li>
	        <li class="right-shift lastitem">Maj</li>
	        <li class="space lastitem">&nbsp;</li>
	    </ul>

	</div>

	<div id="numeralKeyboard" class="keyboardContainer hidden">

	    <ul class="keyboard pull-right" >
			
			<li class="letter">1</li>
	        <li class="letter">2</li>
	        <li class="letter">3</li>
	        <li class="closeKeyboard pull-left">close</li>

	        <br>
	        <li class="letter">4</li>
	        <li class="letter">5</li>
	        <li class="letter">6</li>	
	        <li class="return lastitem pull-left">ok</li>

	        <br>
	        <li class="letter">7</li>
	        <li class="letter">8</li>
	        <li class="letter">9</li>
	        <li class="letter none">.</li>

	        <br>
	        <li class="letter reset-point">C</li>
	        <li class="letter">0</li>
	        <li class="letter float-point">.</li>
	        <li class="delete lastitem pull-left">Eff</li>




	               
	    </ul>

	</div>

</template>

